In [1]:
!pip install simpledorff

Requirement already satisfied: simpledorff in /Users/ada/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages (0.0.2)

In [2]:
import pandas as pd
import simpledorff

In [3]:
results = pd.read_csv("Reliability Step 1_April 21, 2025_01.25.csv")

In [4]:
results.columns

Index(['StartDate', 'EndDate', 'Status', 'IPAddress', 'Progress',
       'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId',
       'RecipientLastName', 'RecipientFirstName', 'RecipientEmail',
       'ExternalReference', 'LocationLatitude', 'LocationLongitude',
       'DistributionChannel', 'UserLanguage', 'Coder ID', 'Post ID',
       'Attribution Presence', 'Number Attributions', 'Attribution1',
       'Attribution2', 'Attribution3', 'Attribution4', 'Attribution5',
       'Attribution6', 'Attribution7', 'AttributionOther'],
      dtype='object')

In [5]:
results['Coder ID'].unique()

array(['Coder ID', '{"ImportId":"QID17"}', 'Francesco', 'Luke', 'Ada'],
      dtype=object)

In [6]:
results = results.loc[:, 'Coder ID':'AttributionOther']

In [7]:
results = results.iloc[2:]

In [8]:
results.head()

,Coder ID,Post ID,Attribution Presence,Number Attributions,Attribution1,Attribution2,Attribution3,Attribution4,Attribution5,Attribution6,Attribution7,AttributionOther
2,Francesco,51,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Francesco,52,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Francesco,53,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Francesco,54,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Francesco,55,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
simpledorff.calculate_krippendorffs_alpha_for_df(results,experiment_col='Post ID',
                                                 annotator_col='Coder ID',
                                                 class_col='Attribution Presence')

np.float64(0.49536541889483066)

In [10]:
results_Q1 = results.pivot(index='Post ID', columns='Coder ID', values='Attribution Presence')

In [11]:
results_Q1

Coder ID  Ada Francesco Luke
Post ID
100        No        No   No
101        No        No   No
102        No        No   No
103        No        No   No
104        No        No  Yes
...       ...       ...  ...
96        Yes        No   No
97         No        No   No
98         No        No   No
99         No        No   No
`144      NaN        No  NaN

[101 rows x 3 columns]

In [12]:
def get_disagreement_rows(df):
    return df[df.nunique(axis=1) > 1]

disagreement_rows = get_disagreement_rows(results_Q1)
print(disagreement_rows)

Coder ID  Ada Francesco Luke
Post ID
104        No        No  Yes
119        No        No  Yes
128       Yes        No   No
137       Yes        No   No
138        No       Yes   No
139       Yes       Yes   No
142       Yes        No   No
147       Yes        No   No
149        No       Yes  Yes
150        No        No  Yes
53        Yes        No   No
66         No       Yes   No
71        Yes        No   No
83        Yes        No   No
84        Yes        No   No
85        Yes       Yes   No
86        Yes        No   No
88        Yes        No  Yes
96        Yes        No   No

19

In [16]:
len(disagreement_rows)

19

In [17]:
(100-19)/100

0.81